{% extends "allauth/layouts/entrance.html" %}
{% load i18n %}

{% block head_title %}
  {% trans "Crime & Fraud Reporting - Sign In" %}
{% endblock head_title %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="text-center mb-4">
        <h2>{% trans "Report Crime & Fraud" %}</h2>
        <p class="lead">{% blocktrans %}Sign in or create an account to report crimes you have experienced, search existing reports, and contribute to alerting and preventing crime.{% endblocktrans %}</p>
      </div>

      <div>
        {% block inner_content %}{% endblock inner_content %}
      </div>

      <div class="text-center mt-4">
        <a class="btn btn-outline-secondary btn-sm" href="{% url 'home' %}">{% trans "Back to Home" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
