{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

{% block content %}
<script>
    window.location.href = "{% url 'account_type_signup' %}";
</script>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <div class="card shadow-lg border-0 rounded-4 p-4">
                <p class="text-center">Redirecting to signup page...</p>
                <p class="text-center">
                    <a href="{% url 'account_type_signup' %}">Click here if not redirected</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
